@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  line-height: 1.4;
  font-family: 'Inter', sans-serif;
}

a {
  cursor: pointer;
}

.appContainer {
  font-family: 'Inter', sans-serif;
}

.navContainer {
  position: sticky;
  top: 0;
  z-index: 100;
}

.waveImg {
  background-image: url('https://www.digitalocean.com/_next/static/media/top-wave-blue-6.1b592f40.svg');
  width: 100%;
}

.blogsHeader {
  background-color: rgb(8, 27, 75);
  padding: 8px 0px;
  display: flex;
  position: sticky;
}

.blogsHeader a {
  color: rgb(214, 220, 234);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  transition: 0.1s;
}

.blogsHeader a:hover {
  color: rgb(225, 242, 251);
}

.textWrapper {
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0;
  max-width: 80rem;
  width: 100%;
}

.blogWrapper {
  display: flex;
  gap: 16px;
}

.mainHeader {

  background-color: rgb(249, 250, 254);
  border-bottom: 1px solid rgb(227, 232, 244);
  position: relative;
  user-select: none;
  z-index: 1;

}

.alogo {

  align-items: center;
  display: flex;
  height: 72px;

}

.mainNav {
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  gap: 8px;
  margin-left: 32px;
  margin-top: 0px;
  width: initial;
}

.dropdownBtn {
  border: none;
  border-radius: 10px;
  font-size: initial;
  cursor: pointer;
  padding: 12px 8px;
  align-items: center;
  background-color: transparent;
  color: rgb(36, 51, 90);
  display: flex;
  font-weight: 549;
  gap: 8px;
  transition: 0.15s;
}

.dropdownBtn:hover {
  background-color: rgb(227,232,244);
}

svg.up {
  color: rgb(0, 105, 255);
  transform: rotateZ(-90deg);
}

svg.down {
  transform: rotateZ(90deg);
}

div.down {
  display: none;
}

div.up {
  background: linear-gradient(90deg, rgb(249, 250, 254) 50%, rgb(255, 255, 255) 50%);
  border: none;
  box-shadow: rgba(0, 44, 155, 0.05) 0px 4px 8px;
  left: 0px;
  margin-top: 16px;
  max-height: unset;
  overflow: initial;
  position: absolute;
  width: 100%;
}

.contentWrapper {
  line-height: 0;
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  max-width: 80rem;
  width: 100%;
}

.btnHolder {
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 8px;
}

#signup {
  color: #fff;
  padding: 12px 20px;
  background-color: rgb(0, 105, 255);
  transition: 0.15s;
}

#signup:hover {
  background-color: rgb(0, 44, 155);
}

#login {
  padding: 12px 20px;
}

.stats-dream {
  background: rgb(0, 105, 255);
  overflow: hidden;
  padding: 0px;
  position: relative;
  z-index: 0;
  height: 60vh;
}

.mainContentWrapper {
  background-color: rgb(249, 250, 254);
}

.bgDiv {
  background-color: rgb(0, 105, 255);
  height: 850px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;

}

.ripple {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.leftHolder {
  position: absolute;
  bottom: 141px;
}

.rightHolder {
  bottom: 141px;
  position: absolute;
  right: 0px;
}

.dreamContainer {
  /*background-color: rgb(0, 105, 255);*/
  background-color: transparent;
  padding: 64px 0px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 80rem;
  width: 100%;
  z-index: 2;
}

.titleDiv {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 88px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 96px;
  margin: auto;
  text-align: center;
}

.subheading {
  max-width: 720px;
  margin: 15px auto 80px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}